@import "tailwindcss";

@theme {
  --color-black: #333;
}

:root {
  --font-sans:
    "Neue Haas Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  --width-container: 477px;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/neuehaasgrottext-55roman-trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("/fonts/neuehaasgrottext-65medium-trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  @apply m-0 antialiased text-black bg-white;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 400;
}

a {
  @apply text-black relative no-underline transition-all duration-150;
  &:hover {
    @apply hover:opacity-50;
  }
  &:after {
    content: '';
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 0.9px;
    background: #000;
    transition: 0.045s ease all;
  }
}

p {
  @apply mb-5 leading-5.5;
}