@import "tailwindcss";

@theme {
  --color-charcoal: rgb(51, 51, 51);
  --color-blue: rgb(44, 100, 246);
  --color-green: rgb(111, 171, 0);
  --color-yellow: rgb(255, 213, 0);
  --color-purple: rgb(146, 40, 222);
  --color-red: rgb(239, 68, 68);
  --color-sky: rgb(56, 189, 248);
  --color-grey: rgb(117, 117, 117);
  --leading-base: 1.65;
  --text-base: 14px;
}

:root {
  --font-sans: "neue-haas-grotesk-text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  --width-container: 477px;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/GT-America-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("/fonts/NeueHaasGrotText-55Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("/fonts/NeueHaasGrotText-65Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neue-haas-grotesk-text";
  src: url("/fonts/NeueHaasGrotText-75Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  @apply antialiased text-charcoal bg-white text-base leading-base font-normal font-sans;
}

p {
  @apply mb-4 leading-6;
}

a {
  @apply relative no-underline transition-all duration-150 text-base;
  &:hover {
    @apply hover:opacity-50;
  }
}

p {
  @apply mb-5 leading-5.5;
}