@import "tailwindcss";

@theme {
  --color-charcoal: rgb(47, 49, 51);
  --color-blue: rgb(44, 100, 246);
  --color-green: rgb(111, 171, 0);
  --color-yellow: rgb(255, 213, 0);
  --color-purple: rgb(146, 40, 222);
  --color-red: rgb(239, 68, 68);
  --color-sky: rgb(56, 189, 248);
  --color-grey: rgba(102, 102, 102, .6);
  --leading-base: 1.65;
  --text-base: 14px;
}

:root {
  --font-sans: "Suisse Intl", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  --width-container: 477px;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  @apply antialiased text-charcoal bg-white text-base leading-base font-normal font-sans;
}

p {
  @apply mb-4 leading-6;
}
a {
  @apply relative underline text-base underline-offset-2 text-charcoal;
  &:hover {
    @apply text-black;
  }
}

nav a {
  @apply inline-block no-underline text-grey hover:text-black mr-4 last:mr-0;
}

p {
  @apply mb-5 leading-5.5;
}